body {
}

.card {
 
  margin: auto auto;
  border-radius: 25px;
  /* border: 2px solid #73AD21; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3); */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  padding-bottom: 2.5em;
}


.card-body h3 {
  text-align: center;
  color: purple;
}

.card-body a {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  margin: auto auto;
  font-size: 2.5em;
}
.card-body p {
  font-size: 2.5em;
}
.card img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.card-body {
  padding-top: 1em;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}