body {
}

.card {
 
  margin: auto auto;
  border-radius: 25px;
  border: 2px solid #73AD21;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-bottom: 2.5em;
}

.card-body h3 {
  text-align: center;
  color: purple;
}

.card-body a {
  /* display: block; */
  margin: auto auto;
  font-size: 3em;
}
.card-body p {
  font-size: 3em;
}